{% extends "TreewalkerAdminBundle:Layout:layout.html.twig" %}

{% block content %}
    
    <p>{{ user.firstname }} {{ user.lastname }}</p>
    <div>
    {{ form_start(form) }}
       <div class="field_row"
        {{ form_row(form.newPassword.first)}}
        </div>
        <div class="field_row">
         {{form_row(form.newPassword.second) }}
        </div>
      {{form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}